In [2]:
import pandas as pd
import json

In [3]:
jsonq = pd.read_json('json-queries-performance.json')

In [4]:
pandasq = pd.read_json('pandas-queries-performance.json')

In [5]:
postq = pd.read_json('post-queries-performance.json')

In [24]:
postq.drop_duplicates()

,timestamp,step,cpu_usage,memory_usage,latency_seconds,execution_time_seconds
0,2024-12-02 20:03:21.765499,Before Forecast Query,0.6,40.1,NaN,NaN
2,2024-12-02 20:03:22.101145,Forecast API,NaN,NaN,0.34,NaN
5,2024-12-02 20:03:22.107885,Forecast Query,NaN,NaN,NaN,1.35
9,2024-12-02 20:03:23.142279,After Forecast Query,4.3,40.3,NaN,NaN
14,2024-12-02 20:03:24.159569,Before HubSpot Query,6.0,40.3,NaN,NaN
...,...,...,...,...,...,...
4610,2024-12-02 20:44:14.041047,Before HubSpot Query,0.8,50.2,NaN,NaN
4616,2024-12-02 20:44:19.638622,HubSpot POST API,NaN,NaN,5.46,NaN
4623,2024-12-02 20:44:19.780171,HubSpot Query,NaN,NaN,NaN,6.74
4631,2024-12-02 20:44:20.909821,After HubSpot Query,0.8,50.0,NaN,NaN
4640,2024-12-02 20:44:21.017514,Entire Query Process,NaN,NaN,NaN,10.87

In [22]:
pandasq.drop_duplicates()

,timestamp,step,cpu_usage,memory_usage,latency_seconds,execution_time_seconds
0,2024-12-02 19:30:23.383166,Before Forecast Query,0.0,40.6,NaN,NaN
2,2024-12-02 19:30:24.607993,Forecast API,NaN,NaN,1.22,NaN
5,2024-12-02 19:30:24.624030,Forecast Query,NaN,NaN,NaN,2.24
9,2024-12-02 19:30:25.643301,After Forecast Query,1.2,40.8,NaN,NaN
14,2024-12-02 19:30:26.653925,Before HubSpot Query,0.4,40.8,NaN,NaN
...,...,...,...,...,...,...
4769,2024-12-02 20:13:20.822072,Before HubSpot Query,0.8,51.2,NaN,NaN
4775,2024-12-02 20:13:29.229458,HubSpot API,NaN,NaN,8.28,NaN
4782,2024-12-02 20:13:29.380784,HubSpot Query,NaN,NaN,NaN,9.57
4790,2024-12-02 20:13:30.504874,After HubSpot Query,0.6,51.2,NaN,NaN
4799,2024-12-02 20:13:30.618528,Entire Query Process,NaN,NaN,NaN,14.18

In [23]:
jsonq.drop_duplicates()

,timestamp,step,cpu_usage,memory_usage,latency_seconds,execution_time_seconds
0,2024-12-02 18:56:32.607676,Before Forecast Query,25.2,48.4,NaN,NaN
2,2024-12-02 18:56:32.958357,Forecast API,NaN,NaN,0.35,NaN
5,2024-12-02 18:56:32.990940,Forecast Query,NaN,NaN,NaN,1.39
9,2024-12-02 18:56:33.994333,After Forecast Query,25.9,47.9,NaN,NaN
14,2024-12-02 18:56:35.042039,Before HubSpot Query,55.2,48.8,NaN,NaN
...,...,...,...,...,...,...
4469,2024-12-02 19:29:04.195700,Before HubSpot Query,13.4,42.9,NaN,NaN
4475,2024-12-02 19:29:13.274968,HubSpot API,NaN,NaN,8.74,NaN
4482,2024-12-02 19:29:13.446906,HubSpot Query,NaN,NaN,NaN,10.27
4490,2024-12-02 19:29:14.570739,After HubSpot Query,8.4,42.9,NaN,NaN
4499,2024-12-02 19:29:14.711618,Entire Query Process,NaN,NaN,NaN,14.82